.hsky-body{
    margin-top: 20px;
}
nav.navbar{
	/*background-color: #101010;*/
}

.search > a > i{
    font-size: 20px;
}
.site-header ul.nav li.search > a:after{
    content:'';
    position:absolute;
    width:0;
    height: 0;
    background:#fff;
    left:50%;
    bottom:-3px;
    transition:none;
}

.site-header ul.nav > li > a:after {
	content:'';
	position:absolute;
	width:0;
	height:2px;
	background:#fff;
	left:50%;
	bottom:-3px;
	transition:all ease-in-out .3s;
}

.site-header .navbar-collapse{
    background-color: #101010;
}

.site-header .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 11px;
    font-weight: 100;
    border-bottom: 2px solid #101010;
    text-transform: uppercase;
    padding-top:20px;
    padding-bottom:20px;
}

.site-header ul.nav > li > a:hover:after {
    width:100%;
    left:0;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #acacac;
}

.header_one_menu_center ul.nav li li a{
	text-transform: capitalize;
}

.dropdown-menu > li > a:hover {
    color: #acacac;
    background-color: transparent;

    transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
}


/* 搜索 */

.hsky-searchscreen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #f9f9f9;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000000;
    padding: 50px 50px 0;
}

.hsky-searchscreen form input{
    display: block;
    height: auto;
    line-height: 25px;
    background: none;
    padding-right: 100px;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    font-family: inherit;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.zl_srcinputbox:hover {
    border-color: #b3b3b3;
}
.hsky-searchscreen .zl_ajaxsrcfire:hover > i{
    color:#cca34d
}
.zl_srcinputbox .zl_ajaxsrcfire {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: auto 0;
}

.zl_srcinputbox .zl_ajaxsrcfire > i {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: #969696;
}
zatolab.com/media="all"
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.zl_searchscreen form {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.showsearch{
    display: block;
}
.closesearch{
    display: none;
}
.searchmode{
    overflow: hidden;
    overflow-y: hidden;
    height: 100%;
}

.close_search{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    z-index: 0;
}

.close_search  i{
    font-size: 40px;
}

.loader{
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 0;
    vertical-align: top;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto 0;
    display: none;
    background: url(//zatolab.com/acacia-wp/wp-content/themes/acacia/lib/img/preloader.gif) no-repeat center center;
    background-size: 100% 100%;
}

.zl_srcinputbox{
    width: 100%;
    border: 1px solid #d1d1d1;
    line-height: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.zl_formbox{
    width: 100%;
    margin: 0 auto;
    max-width: 640px;
}

.searched{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 30px 0;
}

.clear{
    clear:both;
}

.mt12{
    margin-top: 12px;
}

/* ajax result  */

.ajaxsearchresult ul{list-style:none}

ul.resultlist li{
    padding:25px 0;
    border-bottom:1px solid #d1d1d1;
    overflow:hidden;visibility:hidden;
    -webkit-animation-duration:500ms;
    -moz-animation-duration:500ms;
    -o-animation-duration:500ms;
    animation-duration:500ms
}

@-webkit-keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)}
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
.fadeInUp{
    -webkit-animation-name:fadeInUp;
    animation-name:fadeInUp
}

.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    visibility:visible !important
}

.ajax_postlink {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
}

a.ajax_postlink{
    text-decoration: none;
    color: #101010;
}

.zl_aj_src_meta {
    color: #cecece;
    font-size: 12px;
    margin: 5px 0;
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: 5px;
}

.zl_aj_src_meta a {
    font-size: 12px;
    color: #9b9b9b !important;
    font-style: italic;
    display: inline-block;
    padding-right: 5px;
}

.zl_aj_src_meta i {
    display: inline-block;
    margin-right: 5px;
    color: #9b9b9b;
}

.zl_ajax_src_rdmore{
    color: #95cac5;
    font-style: italic;
    text-decoration: underline;
}

.row .page{
    margin:30px 0;
}

/* blogger post */
.blogger .hsky-post-header{
    padding: 23px 30px 0 35px;
    margin : 0 0 0 0;
    overflow: hidden;
}

.blogger  .hsky-post-item{
    margin-bottom: 8px;
}

.blogger  .hsky-post-span{
    margin-right: 20px;
}

.blogger  .hsky-post-span, .hsky-post-span a{
    color: #ccc;
}

.blogger .hsky-post-title > a{
    color: #000;
    font-weight: bold;  
}

.blogger .hsky-post-more{
    text-transform: uppercase;
}

.blogger .hsky-post-more a{
    color: #ccc;
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.blogger .hsky-post-more a:hover{
    color: #000;
}

/* aside */
.aboutme-username{
    text-align: center;
    font-size: 1.643em;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 1.4em;
}

.aboutme_userposition {
    font-family: Droid Sans,serif;
    color: #6f8b6d;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.857em;
    margin: 10px 0 0;
}

.aboutme_description {
    text-align: center;
    margin: 25px 0 0;
}

/* widget */

.widget-title {
    font-size: 0.8571428571428571em;
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.625em;
    color: #f2f2f2;
    text-transform: uppercase;
    margin: -1.8958333333333333em -1.8958333333333333em 1.8958333333333333em;
}

/* scroll */
.scroll_to_top {
    display: block;
    position: fixed;
    width: 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    bottom: -4em;
    right: 2em;
    background: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    z-index: 100001;
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -ms-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transition: all ease 1.5s;
    filter: alpha(opacity=0);
    opacity: 0;
}

.scroll_to_top.show {
    filter: alpha(opacity=100);
    opacity: 1;
    bottom: 2em;
    padding-top: 12px;
}

.scroll_to_top:hover {
    border-color: #789376;
    background-color: #6f8b6d;
    color: #ffffff;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
